@model Avaliacao.Models.TbProfessor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TbProfessor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_professor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_professor)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.senha_professor)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.senha_professor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_professor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
